.auth{
  display: flex;
  align-items: center;
}
/*input auth*/
.group {
  position: relative;
  margin-top: 30px;
}
.inputAuth{
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.inputAuth:hover, .inputAuth:focus{
  outline: none;
}
label {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.inputAuth:focus ~ label, .inputAuth:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #5264AE;
}


/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.inputAuth:focus ~ .bar:before,
.inputAuth:focus ~ .bar:after {
  width: 50%;
}
/*input auth end*/
.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2em;
  color: white;
}

a {
  margin-right: 25px;
  width: auto!important;
  height: auto!important;
  color: #f6f4e6!important;
  text-decoration: none!important;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #917b10 !important;
}

.active{
  color: #917b10!important;
}

.app{
  background-color: aliceblue;
  height: 100vh;
}

.Contentent{
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.blocks{
  border-top: 1px solid black;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;

}

.blockNews{
  width: 500px;
  height: 100px;
  padding: 5px;
  background-color: rgba(0,0,0, 0.1);
  margin-top: 15px;
}

.content{
  padding: 5px;
}

.logOut{
  background-color: #917b10;
  margin-left: 15px;
}
